
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');


$text-font: 'Noto Serif', serif;

$black:rgb(10, 17, 43);
$dark-blue:rgb(26, 42, 108);
$blue: rgb(53, 71, 127);
$light-blue: rgb(100, 122, 186);
$brown:rgb(178, 31, 31);
$dark-yellow:rgb(253, 187, 45);
$black-green:rgb(17, 69, 21);
$dark-green:rgb(26, 108, 32);
$white: rgb(234, 234, 234);
$bright-blue: rgb(4, 132, 178,);


$black-shadow:rgba(10, 17, 43, 0.5);
$brown-shadow: rgba(178, 31, 31, 0.5);
$blue-shadow: rgba( 53, 71, 127, 0.5);
$dark-yellow-shadow: rgba(253, 187, 45, 0.5);
$bright-blue-shadow: rgba(4, 132, 178, 0.7);
$light-blue-shadow: rgba(100, 122, 186, 0.5);
$white-shadow: rgba(234, 234, 234, 0.5);